<!--<section class="panel" *ngIf="!orderInfo">
  <div class="panel-body">
    <div class="alert alert-dismissible alert-info">

      <strong>Heads up!</strong> This <a class="alert-link">No order is selected</a>, but it's not super important.
    </div>
  </div>
</section>
<section class="panel panel-info "   *ngIf="orderInfo">
  <header _ngcontent-ktc-12="" class="panel-heading  ">
    Order - #{{orderInfo.id}}
  </header>
  <div class="panel-body animated fadeIn" *ngIf="orderInfo && animationStatus">
    <table class="table table-hover table-condensed table-striped table  general-table">
      <tr *ngIf="orderInfo.status=='Pending'">
        <td><button class="btn btn-sm btn-block btn-success" (click)="changeOrderStatus('Accepted')">Accept</button></td>
        <td><button class="btn  btn-sm btn-block btn-danger" (click)="changeOrderStatus('Rejected')">Reject</button></td>
      </tr>
      <tr *ngIf="orderInfo.status=='Accepted'">
        <td><button class="btn btn-sm btn-block btn-success" (click)="changeOrderStatus('Completed')">Collect</button></td>
        <td><button class="btn  btn-sm btn-block btn-danger" (click)="changeOrderStatus('Cancelled')">Cancel</button></td>
      </tr>
      <tr class="success" *ngIf="orderInfo.status=='Completed'">
        <td>Completed Order</td>

      </tr>
    </table>
    <table class="table table-hover table-condensed table-striped table  general-table">
      <tr>
        <td>{{orderInfo.date}}</td>
      </tr>
      <tr>
        <td> <span class="label " [ngClass]="{'label-info': orderInfo.status=='Accepted','label-success':orderInfo.status=='Completed','label-danger':orderInfo.status=='Pending'}">{{orderInfo.status}}</span></td>

      </tr>
      <tr>
        <td>{{orderInfo.customer_name}}</td>
      </tr>
      <tr>
        <td>{{orderInfo.contact}}</td>
      </tr>
      <tr>
        <td>{{orderInfo.email}}</td>
      </tr>
    </table>

    <table class="table table-hover table-condensed table-striped table  general-table">
      <thead>
        <tr class="warning">
          <td>Product Name</td>
          <td>Brand</td>
          <td>Price</td>

        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let x of orderProducts">
          <td>{{x.name}}</td>
          <td>{{x.brandname}}</td>
          <td>Rs {{x.price | number : '1.2-2'}} x{{x.product_quantity}}</td>
        </tr>
        <tr class="info">
          <td colspan="2">TOTAL AMOUNT</td>
          <td>{{orderInfo.net_total | number : '1.2-2'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>-->

<!--<tr *ngFor="let x of orderProducts">
  <td>{{x.name}}</td>
  <td>{{x.brandname}}</td>
  <td>Rs {{x.price | number : '1.2-2'}} x{{x.product_quantity}}</td>
</tr>
<tr class="info">
  <td colspan="2">TOTAL AMOUNT</td>
  <td>{{orderInfo.net_total | number : '1.2-2'}}</td>
  <td></td>
  <td></td>
</tr>-->
<div class="order-info">
  <div class="row">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-4">
          <img alt="" class="img-responsive" style="height:auto" src="https://medshousing.com/wp-content/themes/mh/images/empty_avatar.jpg"
          />

        </div>
        <div class="col-md-8">
          <h5 style="margin-top:0cm">Order Details</h5>
          <hr>
          <h6>
            <i class="fa fa-hashtag" aria-hidden="true"></i>&nbsp; {{orderInfo.id}} &nbsp;&nbsp;&nbsp; <span class="label "
              [ngClass]="{'label-info': orderInfo.status=='Accepted','label-success':orderInfo.status=='Completed','label-danger':orderInfo.status=='Pending'}">{{orderInfo.status}}</span>
          </h6>
          <h6> <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; {{orderInfo.date}} </h6>
          <h6> <i class="fa fa-user" aria-hidden="true"></i>&nbsp; {{orderInfo.name}} </h6>
          <h6> <i class="fa fa-phone" aria-hidden="true"></i> &nbsp;{{orderInfo.contact}}</h6>
          <h6><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;{{orderInfo.email}}</h6>




        </div>
      </div>
      <div class="profile-pic text-center">


      </div>
    </div>
    <div class="col-md-7">

      <app-loading *ngIf="loading"></app-loading>
      <table *ngIf="!loading" class="table table-hover table-condensed table-striped table  general-table">
        <thead>
          <tr class="">
            <td>Product Name</td>
            <td>Brand</td>
            <td>Quantity</td>
            <td align="right">Price</td>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of orderProducts">
            <td>{{x.name}}</td>
            <td>{{x.brandname}}</td>
            <td>x{{x.product_quantity}}</td>
            <td align="right">Rs {{x.price | number : '1.2-2'}} </td>
          </tr>
          <tr class="" style="border-top:1px solid #E0E0E0; border-bottom:1px double  #E0E0E0">
            <td colspan="3"><strong>TOTAL AMOUNT</strong></td>
            <td align="right"><strong>Rs {{orderInfo.net_total | number : '1.2-2'}}</strong></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>



  <div *ngIf="!loading" style="padding-bottom:1rem;">
    <div class="row" *ngIf="orderInfo.status=='Pending'">
      <div class="col-md-offset-8 col-md-2">
        <button class="btn btn-sm btn-block btn-primary" (click)="changeOrderStatus('Accepted')">Accept</button>
      </div>
      <div class="  col-md-2">
        <button class="btn  btn-sm btn-block btn-danger" (click)="changeOrderStatus('Rejected')">Reject</button>
      </div>
    </div>




    <div class="row" *ngIf="orderInfo.status=='Accepted'">
      <div class="col-md-offset-8 col-md-2">
        <button class="btn btn-sm btn-block btn-primary" (click)="changeOrderStatus('Completed')">Collect</button>
      </div>
      <div class="col-md-2">
        <button class="btn  btn-sm btn-block btn-danger" (click)="changeOrderStatus('Cancelled')">Cancel</button>
      </div>
    </div>
  </div>
</div>