<!--header start-->
<header class="header fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle hr-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="fa fa-bars"></span>
              </button>

    <!--logo start-->
    <!--logo start-->
    <div class="brand " style="background-color:#fff">

      <img class="img-responsive img-contain" src="assets/images/logo.png" alt="">

    </div>
    <!--logo end-->
    <!--logo end-->
    <div class="horizontal-menu navbar-collapse collapse ">
      <ul class="nav navbar-nav">
        <li class="" [routerLinkActive]="['active']"><a [routerLink]="['/','product']">Products</a></li>
        <li class="" [routerLinkActive]="['active']"><a [routerLink]="['/','order']">Orders</a></li>
        <li class="" [routerLinkActive]="['active']"><a [routerLink]="['/','bussiness']" href="">Bussiness</a></li>
        <li><a href="">Reports</a></li>

        <li><a href="">Brands</a></li>

      </ul>

    </div>
    <div class="top-nav hr-top-nav">
      <ul class="nav pull-right top-menu">

        <!-- user login dropdown start-->
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <img alt="" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/ce54bf11889067.562541ef7cde4.png">
            <span class="username">John Doe</span>

          </a>

        </li>
        <!-- user login dropdown end -->
      </ul>
    </div>

  </div>

</header>
<!--header end-->