 
.slds-global-header__logo{
     width: 8.8125rem;
}

.app-user-title{
    font-size: 1rem;
    color: #757575;
    letter-spacing: 0.5px;
}

.slds-dropdown{
    min-width: 10rem;
}

a{
    border: none;
     &:hover {
        background-color:#EEEEEE;
    };
    &:active{
        background-color:#EEEEEE;
    }
}

.header-main-title{

    font-size: 1.3rem;
    color: #757575;
    letter-spacing: 0.5px;
}

.app-header{
     position: fixed;
    z-index: 1000;
}