<div class="row">
	<div class="col-md-12">

		<ul class="breadcrumbs-alt">
			<li><a class="text-uppercase">  Products </a></li>
			<li><a [routerLink]="['/','product','list']" class="text-uppercase">  List </a></li>

			<li class="text-uppercase"><a class="current"> Edit- Product</a></li>
		</ul>

		<form #productAdd="ngForm" (ngSubmit)="formSubmit(productAdd.value)" class="form-horizontal">
			<div class="row animated bounceInUp">

				<div class="col-md-5">

					<section class="panel">
						<header class="panel-heading">
							Product Image
						</header>
						<div class="panel-body">


							<div class="upload-container">

								<img class="img-responsive" style="margin: 0 auto;" [src]="product.img_url" [hidden]="!product.img_url"><br>
								<input class="form-control" type="file" image-upload (imageSelected)="selected($event)" [resizeOptions]="resizeOptions">
							</div>




						</div>
					</section>
				</div>

				<div class="col-md-7">



					<section class="panel">
						<header class="panel-heading">
							Product Details - Main
						</header>
						<div class="panel-body">

							<div class="alert alert-dismissible alert-danger" [ngClass]="{'alert-danger':(product.status=='Draft'),'alert-success':(product.status=='Published')}">
								<strong>Draft</strong>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<label class="   ">Product Name</label>
									<input type="text" name="productname" id="productname" [(ngModel)]="product.name" class="form-control input-sm" required>									{{productname}}

								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<label class="  ">Brand Name</label>
									<select name="brandname" [(ngModel)]="product.brand_id" class="form-control input-sm" required>
										<option  [value]='brand.id' *ngFor="let brand of brandList">{{brand.brandname}}</option>
                  					</select>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-7">
									<label class="  ">Category/Type</label>
									<select name="catname" [(ngModel)]="product.category_id" class="form-control input-sm" required>
										<option [value]='cat.id' *ngFor="let cat of categoryList">{{cat.name}}</option>
                  					</select>
								</div>
								<div class="col-sm-5">
									<label class="  ">Price</label>
									<input name="price" [(ngModel)]="product.price" type="text" class="form-control input-sm" required pattern="^[\d\.,]+$">
								</div>
							</div>


						</div>

					</section>

				</div>

			</div>
			<div class="row animated bounceInUp">
				<div class="col-md-12">
					<section class="panel">
						<header class="panel-heading">
							Product Details - Additional
						</header>
						<div class="panel-body">

							<div class="row form-group">

							</div>


							<div class="form-group row " *ngFor="let atrrib of product.custom_attr;  let i = index; ">
								<div class="col-sm-4">
									<div>
										<label class="">Label</label>
										<input type="text" (keyup)="detectChange(i)" [(ngModel)]="product.custom_attr[i].label" [name]="'label'+i" class="form-control input-sm">

									</div>

								</div>
								<div class="col-sm-8">
									<label class="   ">Description</label>
									<input (keyup)="detectChange(i)" [(ngModel)]="product.custom_attr[i].value" type="text" [name]="'value'+i" class="form-control input-sm">
								</div>


							</div>


						</div>
					</section>


					<div class="col-md-4"></div>
					<div class="col-md-2">
						<button (click)="reset()" type="reset" class="btn btn-default btn-block"> Reset</button>
					</div>
					<div class="col-md-3">
						<button (click)="changeStatus('Draft')" type="submit" class="btn btn-warning btn-block"> Save as Draft</button>
					</div>
					<div class="col-md-3">
						<button type="submit" (click)="changeStatus('Published')" class="btn btn-primary btn-block"> Save and Publish</button>
					</div>
				</div>
			</div>
		</form>

	</div>



</div>