<div class="row">
	<div class="col-md-12">

		<ul class="breadcrumbs-alt">
			<li><a class="text-uppercase">  Products </a></li>
			<li><a [routerLink]="['/','product','list']" class="text-uppercase">  List </a></li>

			<li class="text-uppercase"><a class="current"> Edit- Product</a></li>
		</ul>

		<form #productAdd="ngForm" (ngSubmit)="formSubmit(productAdd.value)" class="form-horizontal">
			<div class="row animated bounceInUp">

				<div class="col-md-5">

					<section class="panel">
						<header class="panel-heading">
							Product Image
						</header>
						<div class="panel-body">


							<div class="upload-container">

								<img class="img-responsive" style="margin: 0 auto;" [src]="product.img_url" [hidden]="!product.img_url"><br>
								<input class="form-control" type="file" image-upload (imageSelected)="selected($event)" [resizeOptions]="resizeOptions">
							</div>




						</div>
					</section>
				</div>

				<div class="col-md-7">



					<section class="panel">
						<header class="panel-heading">
							Product Details - Main
						</header>
						<div class="panel-body">

							<div class="alert alert-dismissible " [ngClass]="{'alert-warning':(product.status=='Draft'),'alert-success':(product.status=='Published')}">
								<strong>{{product.status}}</strong>
							</div>
							<div class="form-group" [ngClass]="{'has-error':!productName.valid}">
								<div class="col-sm-12">
									<label class="   ">Product Name</label>
									<input type="text" #productName="ngModel" name="productname" id="productname" [(ngModel)]="product.name" class="form-control input-sm"
										required>
									<span class="help-block" *ngIf="!productName.valid">*Produt Name Required</span>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<label class="  ">Brand Name</label>
									<select name="brandname" [(ngModel)]="product.brand_id" class="form-control input-sm" required>
										<option  [value]='brand.id' *ngFor="let brand of brandList">{{brand.brandname}}</option>
                  					</select>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-7">
									<label class="  ">Category/Type</label>
									<select name="catname" [(ngModel)]="product.category_id" class="form-control input-sm" required>
										<option [value]='cat.id' *ngFor="let cat of categoryList">{{cat.name}}</option>
                  					</select>
								</div>
								<div class="col-sm-5" [ngClass]="{'has-error':!price.valid}">
									<label class="  ">Price</label>
									<input name="price" #price="ngModel" [(ngModel)]="product.price" type="text" class="form-control input-sm" required pattern="^[\d\.,]+$">
									<span class="help-block" *ngIf="!price.valid">*Price Required and should be a valid amount</span>
								</div>
							</div>


						</div>

					</section>

				</div>

			</div>
			<div class="row animated bounceInUp">
				<div class="col-md-12">
					<section class="panel">
						<header class="panel-heading">
							Product Details - Additional
						</header>
						<div class="panel-body">

							<div class="row form-group">

							</div>


							<div class="form-group row " *ngFor="let atrrib of product.custom_attr;  let i = index; ">
								<div class="col-sm-4">
									<div>
										<label class="">Label</label>
										<input type="text" (keyup)="detectChange(i)" [(ngModel)]="product.custom_attr[i].label" [name]="'label'+i" class="form-control input-sm">

									</div>

								</div>
								<div class="col-sm-7">
									<label class="   ">Description</label>
									<input (keyup)="detectChange(i)" [(ngModel)]="product.custom_attr[i].value" type="text" [name]="'value'+i" class="form-control input-sm">
								</div>

								<div class="col-sm-1" *ngIf="i != (product.custom_attr.length-1)">
									<label class="   ">&nbsp;</label>
									<button type="button" (click)="removeAttrib(i)" class="btn btn-danger btn-sm btn-block"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
								</div>
							</div>


						</div>
					</section>


					<div class="col-md-4"></div>
					<div class="col-md-2">
						<button (click)="reset()" type="reset" class="btn btn-default btn-block"> Reset</button>
					</div>
					<div class="col-md-3">
						<button (click)="changeStatus('Draft')" type="submit" class="btn btn-warning btn-block"> Update as Draft</button>
					</div>
					<div class="col-md-3">
						<button type="submit" (click)="changeStatus('Published')" class="btn btn-primary btn-block"> Update and Publish</button>
					</div>
				</div>
			</div>
		</form>

	</div>



</div>