<!--<div class="row">
	<div class="col-md-offset-4 col-md-4">
		<img class="img-responsive img-contain" style="margin-bottom:5rem;" src="assets/images/logo.png" alt="">
	</div>
</div>

<div class="row animated bounceInUp">

	<div class="col-sm-12">


		<form class="form-signin" #searchForm="ngForm" (ngSubmit)="login(username.value,password.value)" style="margin-top:0rem;">
			<h2 class="form-signin-heading">sign in now</h2>
			<div class="login-wrap col-sm-12">
				<div *ngIf="error" class="alert alert-dismissible alert-danger">
					<strong>Oh snap!</strong> <a href="#" class="alert-link">Sorry!</a> Invalid Username or Password.
				</div>
				<div class="user-login-info">
					<input type="text" class="form-control" #username placeholder="Email" autofocus>
					<input type="password" class="form-control" #password placeholder="Password">
				</div>
				<label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
                <span class="pull-right">
                    <a data-toggle="modal" href="#myModal"> Forgot Password?</a>

                </span>
            </label>
				<button class="btn btn-lg btn-login btn-block" type="submit">Sign in</button>
				<br>
				<div class="">
					Don't have an account yet?
					<a class="" href="http://dev.sc-platform.reactive-solutions.xyz/register/">
                    Create an account
                </a>
				</div>

			</div>

			<!-- Modal -->
<!--<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Forgot Password ?</h4>
						</div>
						<div class="modal-body">
							<p>Enter your e-mail address below to reset your password.</p>
							<input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

						</div>
						<div class="modal-footer">
							<button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
							<button class="btn btn-success" type="button">Submit</button>
						</div>
					</div>
				</div>
			</div>-->
<!-- modal -->

<!--</form>
	</div>
</div>-->
<div class="body">
	<div class="login-page">
		<h1 style="color:#fff">Login |</h1>
		<div class="form">
			<div *ngIf="error" class="alert alert-dismissible alert-danger">
				<strong>Oh snap!</strong> <a href="#" class="alert-link">Sorry!</a> Invalid Username or Password.
			</div>
			<form class="login-form" #searchForm="ngForm" (ngSubmit)="login(username.value,password.value)">
				<input type="text" placeholder="username" #username/>
				<input type="password" placeholder="password" #password />
				<button>login</button>
				<p class="message">Not registered? <a href="http://dev.sc-platform.reactive-solutions.xyz/register/">Create an account</a></p>


			</form>
		</div>
	</div>
</div>