<section class="panel">
  <div class="panel-body">

    <div class="">
      <form #advanceSearchForm="ngForm" (ngSubmit)="getAdvanceSearchOrders(advanceSearchForm.value)"
            class="form-horizontal">
        <div class="row " style="margin-bottom:1rem;">

          <div class="col-md-3">
            <input name="orderId" id="orderId" class="form-control" type="text" placeholder="Order Id" ngModel >
          </div>
          <div class="col-md-5">
            <input name="name" id="name" type="text" class="form-control" placeholder="Customer Name" ngModel >
          </div>
          <div class="col-md-4">
            <input name="customerMobile" id="customerMobile" class="form-control" placeholder="Customer Mobile" ngModel >
          </div>

        </div>
        <div class="row ">

          <div class="col-md-3">
            <datetime name="startDate" id="startDate" [timepicker]="false" [ngModel] = "dateFrom" (ngModelChange)="handleDateFromChange($event)" required  #startDate="ngModel"></datetime>
          </div>
          <div class="col-md-3">
            <datetime name="endDate" id="endDate" [timepicker]="false" [datepicker]="datepickerToOpts" [(ngModel)] = "dateTo" required #endDate="ngModel" ></datetime>
          </div>
          <div class="col-md-2 col-md-offset-4">
            <button type="submit" class="btn-primary btn btn-block">Search</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</section>

<div class="row ">

  <div class="col-md-12">

    <section class="panel">
      <div class="panel-body">
        <app-order-list-table (rowSelected)="activateRow($event)" (orderSelected)="transmitParent($event)" [showSearch]="false"
                              [orders]="searchOrders"></app-order-list-table>
      </div>

      <div *ngIf="searchOrders.length === 0 && searched">
        <div class="col-md-12">
          <div class="alert alert-dismissible alert-warning">
            <h4>Sorry!</h4>
            <p>Seems You don't have any search results.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
 