<div class="row">
	<div class="col-sm-12">

		<ul class="breadcrumbs-alt">
			<li><a class="text-uppercase"> Orders</a></li>
			<li class="text-uppercase"><a class="current"> List</a></li>

		</ul>

		<div class="row animated bounceInUp">
			<div class="col-sm-7">
				<section class="panel">
					<div class="panel-body">
						<tabset>
							<tab>
								<template tabHeading style="margin-bottom:1rem">Pending</template>


								<app-order-list-table (rowSelected)="loadOrder($event)" [showSearch]="true" [orders]="pendingOrders"></app-order-list-table>

							</tab>
							<tab>
								<template tabHeading>Accepted / Not Collected</template>


								<app-order-list-table (rowSelected)="loadOrder($event)" [showSearch]="true" [orders]="completedOrders"></app-order-list-table>

							</tab>

							<tab>
								<template tabHeading>Search Order</template>

								<div class="search-item">
									<form #searchForm="ngForm" (ngSubmit)="getSearchOrders(searchForm.value)" class="form-horizontal">
										<div class="form-group">

											<div class="col-md-4">
												<label class="acontrol-label">Order ID</label>
												<input name="orderId" id="orderId" type="text" placeholder="Order Id" class="form-control input-sm" ngModel >
											</div>

											<div class="col-md-6 ">
												<label class="acontrol-label">Customer Name</label>
												<input name="name" id="name" type="text" placeholder="Customer Name" class="form-control input-sm" ngModel >
											</div>




											<div class="col-md-2">
												<label class="acontrol-label">&nbsp;</label>
												<button type="submit" class="btn btn-sm btn-block btn-primary">Search</button>
											</div>
										</div>
									</form>
								</div>

								<app-order-list-table (rowSelected)="loadOrder($event)" [showSearch]="false" [orders]="searchOrders"></app-order-list-table>

							</tab>
						</tabset>

					</div>
				</section>

			</div>

			<div class="col-sm-5">
				<app-order-info [orderInfo]="orderInfo" (orderSelected)="loadModal($event)"></app-order-info>
			</div>
		</div>
	</div>
</div>

<!-- Peek Modal -->

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" *ngIf="orderInfo">
	<div class="modal-dialog modal-lg" style="z-index:1050;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
				<h4 class="modal-title"> Order - #{{orderInfo.id}} </h4>
			</div>
		<form #orderReason="ngForm" (ngSubmit)="orderStatusSubmit(orderReason.value)" class="form-horizontal">
				<div class="modal-body">
					<div class="form-group" >
						<div class="col-sm-12 info"><h3>Confirm your action!</h3></div>
						<div class="col-sm-12" *ngIf="orderInfoStatus == 'Cancelled' || orderInfoStatus == 'Rejected'">
							<label class="   ">Reason</label>
							<input type="text" name="reason" id="reason" class="form-control input-sm" ngModel required>
						</div>
					</div>
				</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-sm btn-success">Apply</button>
				<button type="button" class="btn btn-sm btn-danger" (click)="lgModal.hide()">Cancel</button>
			</div>
		</form>
		</div>
	</div>
</div>
<!-- End Modal -->
