<div class="row">
	<div class="col-sm-12">

		<ul class="breadcrumbs-alt">
			<li><a class="text-uppercase"> Orders</a></li>
			<li class="text-uppercase"><a class="current"> List</a></li>

		</ul>

		<div class="row animated bounceInUp">
			<div class="col-sm-7">
				<section class="panel">
					<div class="panel-body">
						<tabset>
							<tab>
								<template tabHeading style="margin-bottom:1rem">Pending</template>


								<app-order-list-table (rowSelected)="loadOrder($event)" [showSearch]="true" [orders]="pendingOrders"></app-order-list-table>

							</tab>
							<tab>
								<template tabHeading>Accepted / Not Collected</template>


								<app-order-list-table (rowSelected)="loadOrder($event)" [showSearch]="true" [orders]="completedOrders"></app-order-list-table>

							</tab>

							<tab>
								<template tabHeading>Search Order</template>

								<div class="  search-item ">
									<form class="form-horizontal" #searchForm="ngForm" (onSubmit)="getSearchOrders(orderId.value,name.value)">
										<div class="form-group">

											<div class="col-md-4">
												<label class="acontrol-label">Order ID</label>
												<input #orderId type="text" placeholder="Order Id" class="form-control input-sm">
											</div>

											<div class="col-md-6 ">
												<label class="acontrol-label">Customer Name</label>
												<input #name type="text" placeholder="Customer Name" class="form-control input-sm">
											</div>




											<div class="col-md-2">
												<label class="acontrol-label">&nbsp;</label>
												<button type="submit" class="btn btn-sm btn-block btn-primary">Search</button>
											</div>
										</div>
									</form>
								</div>

								<app-order-list-table [showSearch]="false"></app-order-list-table>

							</tab>
						</tabset>

					</div>
				</section>

			</div>

			<div class="col-sm-5">
				<app-order-info [orderInfo]="orderInfo"></app-order-info>
			</div>
		</div>



	</div>

</div>

<!-- Peek Modal -->

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
				<h4 class="modal-title">Order #12345 Items</h4>
			</div>
			<div class="modal-body">


				<table class="table table-hover table-condensed table-striped table  general-table">
					<thead>
						<tr>
							<td>Product Name</td>
							<td>Brand</td>
							<td>Quantity</td>
							<td>Unit Price</td>
							<td>Total</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Cheese Whooper</td>
							<td>Happy Meal</td>
							<td>x2</td>
							<td>Rs 550.00</td>
							<td>Rs 550.00 x 2</td>
						</tr>
						<tr>
							<td>Cheese Whooper</td>
							<td>Happy Meal</td>
							<td>x2</td>
							<td>Rs 550.00</td>
							<td>Rs 550.00</td>
						</tr>
						<tr>
							<td colspan="4">TOTAL AMOUNT</td>
							<td>Rs. 3000.00</td>
						</tr>
					</tbody>
				</table>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-success">Accept</button>
				<button type="button" class="btn btn-sm btn-danger">Reject</button>
				<button type="button" class="btn  btn-sm btn-default" (click)="lgModal.hide()">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- End Modal -->