<div class="app-body slds-grid slds-grid--vertical">
  <div class="animated fadeIn slds-container--x-large ">
    <app-header> </app-header>
  </div>

  <div class="main-content slds-container--x-large">

    <div class=" slds-grid slds-wrap slds-grid--pull-padded">

      <div class="   animated fadeInLeft side-bar-main slds-p-horizontal--small slds-size--1-of-2 slds-medium-size--2-of-6 slds-large-size--2-of-12">

        <div class="parent">
          <div class="child vertical">
            <app-sidebar></app-sidebar>
          </div>

        </div>
      </div>
      <div class="page-content slds-p-horizontal--small slds-size--1-of-2 slds-medium-size--4-of-6 slds-large-size--10-of-12">
        <div >
          <router-outlet></router-outlet>
        </div>


      </div>

    </div>



  </div>
</div>