<section id="container" class="hr-menu">

  <!--header start-->
  <app-header> </app-header>
  <!--header end-->

  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">


      <div class="row">
        <!--sidebar start-->
        <div  class="col-md-2 hidden-sm">
          <app-sidebar></app-sidebar>
        </div>
        <!--sidebar end-->

        <!-- page start-->
        <div class="col-sm-12 col-md-10">
          <!--breadcrumbs start -->
          <!--<ul class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
          </ul>-->
          <!--breadcrumbs end -->
          <router-outlet></router-outlet>
        </div>
        <!-- page end-->
      </div>

    </section>
  </section>
  <!--main content end-->
  <!--footer start-->
  <!--<footer class="footer-section">
    <div class="text-center">
      2014 &copy; BucketAdmin by ThemeBucket
      <a href="#" class="go-top">
        <i class="fa fa-angle-up"></i>
      </a>
    </div>
  </footer>-->
  <!--footer end-->
</section>