<aside class="feed-box text-center profile-nav alt">
	<section class="panel   ">
		<div class="panel-body" style="border-bottom: 1px solid #ECEFF1;">
			<app-loading *ngIf="!bussiness"></app-loading>
			<div class="corner-ribon black-ribon">
				<i class="fa fa-th-large"></i>
			</div>
			<div *ngIf="bussiness">


				<a>
					<img alt="" [src]="bussiness.image">
				</a>
				<h1>{{bussiness.name}}</h1>
				<p>{{bussiness.cat_name}}</p>
			</div>
		</div>
		<ul class="nav nav-pills nav-stacked" *ngIf="bussiness">
			<li>
				<a href="javascript:;"> <i class="fa fa-product-hunt"></i> Products<span class="badge label-primary pull-right r-activity">{{sidebar.product}}</span></a>
			</li>
			<li>
				<a href="javascript:;"> <i class="fa fa-adjust"></i>  Brands &nbsp;&nbsp;<span class="badge label-primary pull-right r-activity">{{sidebar.brand}}</span></a>
			</li>
			<li>
				<a href="javascript:;"> <i class="fa fa-exclamation-circle"></i> Pending <span class="badge label-warning pull-right r-activity">{{sidebar.pending}}</span></a>
			</li>
			<li>
				<a href="javascript:;"> <i class="fa fa-check-circle"></i> Accepted <span class="badge label-success pull-right r-activity">{{sidebar.accepted}}</span></a>
			</li>
		</ul>
	</section>

	<button class="btn btn-danger btn-block" type="button" (click)="logout()"> <i class="fa fa-power-off" aria-hidden="true"></i> &nbsp; &nbsp; Logout</button>
</aside>