<aside>
  <span class=" app-user-avatar slds-align--absolute-center">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/ce54bf11889067.562541ef7cde4.png" alt="person name" />
  </span>
  <span class="app-user-title slds-align--absolute-center">
           Bussiness Name 
  </span>
  <span class="app-user-subtitle slds-align--absolute-center">
           Admin
  </span>
  <hr>
  <div class="slds-grid slds-grid--vertical slds-navigation-list--vertical">
    <h2 class="slds-text-title--caps slds-p-around--medium" id="entity-header">Reports</h2>
    <ul>
      <li class="slds-is-active"><a href="javascript:void(0);" class="slds-navigation-list--vertical__action slds-text-link--reset" aria-describedby="entity-header">Recent</a></li>
      <li><a href="javascript:void(0);" class="slds-navigation-list--vertical__action slds-text-link--reset" aria-describedby="entity-header">Created by Me</a></li>
      <li><a href="javascript:void(0);" class="slds-navigation-list--vertical__action slds-text-link--reset" aria-describedby="entity-header">Private Reports</a></li>
      <li><a href="javascript:void(0);" class="slds-navigation-list--vertical__action slds-text-link--reset" aria-describedby="entity-header">Public Reports</a></li>
      <li><a href="javascript:void(0);" class="slds-navigation-list--vertical__action slds-text-link--reset" aria-describedby="entity-header">All Reports</a></li>
    </ul>
    <h2 class="slds-text-title--caps slds-p-around--medium" id="folder-header">Folders</h2>
    <ul>
      <li><a href="javascript:void(0);" class="slds-navigation-list--vertical__action slds-text-link--reset" aria-describedby="folder-header">Created by Me</a></li>
      <li><a href="javascript:void(0);" class="slds-navigation-list--vertical__action slds-text-link--reset" aria-describedby="folder-header">Shared with Me</a></li>
      <li><a href="javascript:void(0);" class="slds-navigation-list--vertical__action slds-text-link--reset" aria-describedby="folder-header">All Reports</a></li>
    </ul>
  </div>
</aside>