<div class="row">
	<div class="col-sm-12">

		<ul class="breadcrumbs-alt">
			<li><a class="text-uppercase"> Bussiness</a></li>
			<li class="text-uppercase"><a class="current"> Information</a></li>

		</ul>

	</div>
</div>

<div class="row animated bounceInUp">
	<div class="col-md-12">
		<section class="panel">
			<div class="panel-body profile-information" style="padding-top:0cm">
				<div class="col-md-2">
					<div class="profile-pic text-center" *ngIf="!bussinessInfoLoading">
						<img class="img-responsive" style="height:auto" [src]="(bussinessView.image === '' || bussinessView.image === null)?'http://www.maxtechagency.com/img/team/no-image-available.jpg': bussinessView.image"
							alt="">
					</div>
				</div>
				<div class="col-md-4">
					<app-loading *ngIf="bussinessInfoLoading"></app-loading>
					<div class="profile-desk" *ngIf="!bussinessInfoLoading">
						<h1>{{bussinessView.name}}</h1>
						<span class="text-muted" style="padding-bottom:0cm;">{{bussinessView.cat_name}}</span><br>
						<span style="padding-bottom:0.5rem;min-height: 4rem;"> {{bussinessAdress.address}} </span>
						<h4 style="margin-bottom:0cm"><small><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp; {{bussinessView.email}}</small></h4>
						<h4 style="margin-top:0.2rem;"><small><i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp;&nbsp; {{bussinessView.contact}}</small></h4>
					</div>
				</div>
				<div class="col-md-4">
					<app-loading *ngIf="userInfoLoading"></app-loading>
					<div class="profile-desk" *ngIf="!userInfoLoading" style="border:none;">
						<h1>{{userView.name}}</h1>
						<span class="text-muted" style="padding-bottom:0cm;">Owner</span><br>
						<span style="padding-bottom:0.5rem;min-height: 4rem;">  &nbsp;</span>
						<h4 style="margin-bottom:0cm"><small><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;{{userView.email}}</small></h4>
						<h4 style="margin-top:0.2rem;"><small><i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp;&nbsp; {{userView.contact === null ? 'Not Available':userView.contact}}</small></h4>
					</div>
				</div>
				<div class="col-md-2">
					<div class="profile-pic text-center" *ngIf="!userInfoLoading">
						<img class="img-responsive" style="height:auto" [src]="(userView.image === null || userView.image === '' )?'http://www.maxtechagency.com/img/team/no-image-available.jpg':userView.image"
							alt="">
					</div>
				</div>
			</div>
		</section>
	</div>

</div>

<div class="row animated bounceInUp">
	<div class="col-md-12">
		<section class="panel">
			<div class="panel-body">
				<tabset>
					<tab>
						<template tabHeading style="margin-bottom:1rem">Location Information</template>
						<div class="col-md-6">

							<h5> Branches <button type="button" class="btn btn-xs btn-primary btn-round pull-right" (click)="loadMap()"> <i class="fa fa-plus"></i></button>								</h5>
							<hr style="margin-top:0cm">
							<table class="table table-hover table-striped">
								<tr>
									<th>Branch</th>
									<th>Address</th>
									<th>Contact</th>
									<th></th>
								</tr>
								<tbody>
									<tr>
										<td>Main Office</td>
										<td>{{bussinessAdress.address}} </td>
										<td>{{bussinessView.contact}}</td>
										<td></td>
									</tr>
									<tr *ngFor="let x of branchList">
										<td>{{x.branchname}}</td>
										<td>{{x.address}}</td>
										<td>{{x.phone}}</td>
										<td>
											<button type="button" (click)="onUpdateClick(x)" class=" btn-block btn-primary btn btn-xs">Edit</button>
											<button type="button" (click)="onDelClick(x)" class=" btn-block btn-danger btn btn-xs">Delete</button>

										</td>
									</tr>
								</tbody>
							</table>

						</div>

						<div class="col-md-6" *ngIf="map" style="padding-top:1rem">
							<sebm-google-map [latitude]="lat" [longitude]="lng">
								<sebm-google-map-marker *ngFor="let pin of pinList" [markerDraggable]="false" [latitude]="pin.lat" [longitude]="pin.lng"></sebm-google-map-marker>
							</sebm-google-map>
						</div>
					</tab>
					<tab>
						<template tabHeading style="margin-bottom:1rem">Edit Bussiness</template>
						<form class="form-horizontal" #bussinessForm="ngForm" (ngSubmit)="bussinessUpdate()">
							<div style="padding-top:1rem;">
								<div class="col-md-4">
									<div class="upload-container">
										<div class="upload-container">

											<img class="img-responsive" style="margin: 0 auto;" [src]="images['bussiness']" [hidden]="!images['bussiness']"><br>
											<input class="form-control" type="file" image-upload (imageSelected)="selected($event,'bussiness')" [resizeOptions]="resizeOptions">
										</div>

									</div>
								</div>
								<div class="col-md-8">
									<div class="form-group">
										<div class="col-sm-12">
											<div class="form-material">
												<label for="validation-details">Supplier Category</label>
												<select class="form-control input-sm" [(ngModel)]="bussiness.supplier_category_id" type="text" name="validation-category">
                                                        <option *ngFor="let cat of categories" [value]="cat.id" >{{cat.name}}</option>
                                                    </select>


											</div>
										</div>
									</div>

									<div class="form-group">

										<div class="col-sm-12">
											<div class="form-material">
												<label>Company/Bussiness Name</label>
												<input class="form-control input-sm" type="text" [(ngModel)]="bussiness.name" name="validation-company-name" placeholder="Please enter your Company/Bussiness name">

											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-12">
											<div class="form-material">
												<label for="validation-email">Company/Bussiness Email</label>
												<input class="form-control input-sm" type="email" [(ngModel)]="bussiness.email" name="validation-company-email" placeholder="Please enter your Company/Bussiness email address">

											</div>
										</div>
									</div>


									<div class="form-group">
										<div class="col-sm-12">
											<div class="form-material">
												<label for="validation-lastname">Company/Bussiness Contact</label>
												<input class="form-control input-sm" [(ngModel)]="bussiness.contact" type="text" name="validation-company-contact" placeholder="Please enter your personal contact number">

											</div>
										</div>
									</div>


									<div class="form-group">
										<div class="col-sm-12">
											<div class="form-material">
												<label for="validation-lastname">Company Address</label>
												<textarea class="form-control input-sm" type="text" name="address" [(ngModel)]="bussinessAdressEdit"></textarea>


											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-12">
											<div class="form-material">
												<label for="validation-lastname">Base City</label>
												<select class="form-control input-sm" type="text" [(ngModel)]="bussiness.base_city" id="validation-city" name="validation-city">
                                                        <option [value]="city.id" *ngFor="let city of cities">{{city.city}}</option>
                                                    </select>

											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="col-md-4 col-md-offset-8">
											<button type="submit" class="btn-primary btn btn-block">Update</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</tab>
					<tab>
						<template tabHeading style="margin-bottom:1rem">Edit User</template>
						<form class="form-horizontal" #userForm="ngForm" (ngSubmit)="userUpdate()">
							<div style="padding-top:1rem;">
								<div class="col-md-4">
									<div class="upload-container">
										<div class="upload-container">

											<img class="img-responsive" style="margin: 0 auto;" [src]="images['user']" [hidden]="!images['user']"><br>
											<input class="form-control" type="file" image-upload (imageSelected)="selected($event,'user')" [resizeOptions]="resizeOptions">
										</div>

									</div>
								</div>
								<div class="col-md-8">
									<div class="form-group">
										<div class="col-sm-12">
											<div class="form-material form-material-primary">
												<label for="validation-firstname">Full Name</label>
												<input class="form-control input-sm" type="text" [(ngModel)]="user.name" id="validation-firstname" name="validation-firstname"
													placeholder="Please enter your firstname">

											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-12">
											<div class="form-material form-material-primary">
												<label for="validation-lastname">NIC</label>
												<input class="form-control input-sm" type="text" [(ngModel)]="user.NIC" id="validation-nic" name="validation-nic" placeholder="Please enter your NIC number">

											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-12">
											<div class="form-material form-material-primary">
												<label for="validation-email">Personal Email</label>
												<input disabled class="form-control input-sm" type="email" [(ngModel)]="user.email" id="validation-email" name="validation-email"
													placeholder="Please enter your personal email address">
												<span class="helper-block">This cannot be changed</span>
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-12">
											<div class="form-material form-material-primary">
												<label for="validation-lastname">Personal Contact</label>
												<input class="form-control input-sm" type="text" [(ngModel)]="user.contact" id="validation-contact" name="validation-contact"
													placeholder="Please enter your personal contact number">

											</div>
										</div>
									</div>

									<div class="form-group" style="margin-top:5rem;">
										<div class="col-sm-offset-4 col-sm-4">
											<button type="button" class="btn-danger btn btn-block" (click)="smModal.show()">Change Password</button>
										</div>
										<div class="col-sm-4 ">
											<button type="submit" class="btn-primary btn btn-block">Update</button>
										</div>
									</div>

								</div>
							</div>
						</form>
					</tab>
				</tabset>
			</div>
		</section>
	</div>
</div>



<div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" aria-label="Close" (click)="smModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
				<h4 class="modal-title">Change Password</h4>
			</div>
			<form class="form-horizontal" #passwordForm="ngForm" (ngSubmit)="changePassword()">

				<div class="modal-body">
					<div [hidden]="passMatch" class="alert alert-dismissible alert-warning">
						<h4>Warning!</h4>
						<p>Passwords Do not Match! Please try Again.</p>
					</div>

					<div [hidden]="authPass" class="alert alert-dismissible alert-danger">
						<h4>Warning!</h4>
						<p>Sorry The Password you entered is wrong. Please Try Again.</p>
					</div>
					<div [hidden]="!saveSuccess" class="alert alert-dismissible alert-success">
						<h4>Success!</h4>
						<p>Password Updated Successfully.</p>
					</div>
					<div *ngIf="loading">
						<app-loading></app-loading>
					</div>

					<div *ngIf="!loading" [hidden]="saveSuccess">
						<div class="form-group">
							<label class="control-label">Current Password</label>
							<input class="form-control" required [(ngModel)]="userPass.old" name="old" id="old" type="password" placeholder="Exisiting Password">
						</div>

						<div class="form-group">
							<label class="control-label" for="disabledInput">New Password</label>
							<input class="form-control" required [(ngModel)]="userPass.new" name="new" id="new" type="password" placeholder="New Password">
						</div>

						<div class="form-group">
							<label class="control-label" for="disabledInput">Confirm Password</label>
							<input class="form-control" required [(ngModel)]="userPass.confirm" name="confirm" id="confirm" type="password" placeholder="Confirm Password">
						</div>

					</div>

				</div>
				<div class="modal-footer">
					<div *ngIf="!loading && !saveSuccess">
						<button type="button" class="btn btn-default" (click)="smModal.hide()">Cancel</button>
						<button type="submit" class="btn btn-primary">Update</button>
					</div>
					<div *ngIf="saveSuccess"><button type="button" class="btn btn-default" (click)="smModal.hide()">Close</button></div>
				</div>
			</form>
		</div>
	</div>
</div>


<div bsModal #delModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" aria-label="Close" (click)="delModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
				<h4 class="modal-title">Delete? </h4>
			</div>

			<div class="modal-body">
				Delete Branch?
			</div>
			<div class="modal-footer">

				<button type="button" class="btn btn-default" (click)="delModal.hide()">Cancel</button>
				<button type="button" class="btn btn-danger" (click)="deleteBranch()">Delete</button>
			</div>

		</div>
	</div>
</div>


<div bsModal #branchModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" aria-label="Close" (click)="branchModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
				<h4 class="modal-title">Add Branch</h4>
			</div>
			<form class="form-horizontal" #branchForm="ngForm" (ngSubmit)="branchSave()">

				<div class="modal-body">


					<div class="row">
						<div class="col-md-6">

							<div class="form-group" style="padding-top:0cm">
								<div class="col-md-12" style="padding-top:0cm">
									<label class="control-label"><b>Branch Name</b></label>

									<input class="form-control" required [(ngModel)]="branch.name" name="branchname" id="branchname" type="text" placeholder="Branch Name">

								</div>
							</div>


							<div class="form-group" style="padding-bottom:0cm;padding-top:0cm">
								<div class="col-md-12">
									<label class="control-label" for="disabledInput"><b>Phone Number</b></label>

									<input class="form-control" required [(ngModel)]="branch.phone" name="phone" id="phone" type="text" placeholder="Branch Phone Number">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group" style="padding-top:0cm">
								<div class="col-md-12">
									<label class="control-label"><b>Branch Address</b></label>

									<textarea rows="5" class="form-control" required [(ngModel)]="branch.address" name="branchaddress" id="branchaddress" type="text"
										placeholder="Branch Address"></textarea>
								</div>
							</div>
						</div>



					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<div class="col-md-12">
									<label class="control-label" for="disabledInput"><b>Branch Location</b></label>
									<div *ngIf="branchMap">
										<sebm-google-map [usePanning]="true" [latitude]="branch.lat" [longitude]="branch.lng">
											<sebm-google-map-marker (dragEnd)="latChange($event)" [markerDraggable]="true" [latitude]="branch.lat" [longitude]="branch.lng"></sebm-google-map-marker>
										</sebm-google-map>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">

					<button type="button" class="btn btn-default" (click)="branchModal.hide()">Cancel</button>
					<button type="submit" class="btn btn-primary">Save</button>

				</div>
			</form>
		</div>
	</div>
</div>