<div class="row">
  <div class="col-sm-12">

    <ul class="breadcrumbs-alt">
      <li><a class="text-uppercase"> Bussiness</a></li>
      <li class="text-uppercase"><a class="current"> Information</a></li>

    </ul>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <section class="panel">
      <div class="panel-body profile-information" style="padding-top:0cm">
        <div class="col-md-2">
          <div class="profile-pic text-center">
            <img class="img-responsive" style="height:auto" src="http://orig02.deviantart.net/a23c/f/2013/087/5/5/burger_king_icon_by_slamiticon-d5zblss.png"
              alt="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="profile-desk">
            <h1>Burger King</h1>
            <span class="text-muted">Burger Food Chain</span>
            <h4>burgerking@gmail.com</h4>
            <h4>27292729/01125017603</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="profile-desk" style="border:none;">
            <h1>Nilesh Jayanandana</h1>
            <span class="text-muted">Admin</span>
            <h4>burgerking@gmail.com</h4>
            <h4>27292729/01125017603</h4>
          </div>
        </div>
        <div class="col-md-2">
          <div class="profile-pic text-center">
            <img class="img-responsive" style="height:auto" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/ce54bf11889067.562541ef7cde4.png"
              alt="">
          </div>
        </div>
      </div>
    </section>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <section class="panel">
      <div class="panel-body">
        <tabset>
          <tab>
            <template tabHeading style="margin-bottom:1rem">Other Information</template>
            //Map Here
          </tab>
          <tab>
            <template tabHeading style="margin-bottom:1rem">Edit Bussiness</template>
            //Form Here
          </tab>
          <tab>
            <template tabHeading style="margin-bottom:1rem">Edit User</template>
            //Form Here
          </tab>
        </tabset>
      </div>
    </section>
  </div>
</div>