<div class="row">
	<div class="col-sm-12">

		<ul class="breadcrumbs-alt">
			<li><a class="text-uppercase"> Dashboard</a></li>
			<li class="text-uppercase"><a class="current"> Main</a></li>

		</ul>

	</div>
</div>

<div class=" animated bounceInUp">

	<div class="row">
		<div class="col-md-3">
			<div class="mini-stat clearfix">
				<span class="mini-stat-icon orange"><i class="fa fa-gavel"></i></span>
				<div class="mini-stat-info">
					<span>{{stats.orders | number}}</span> Orders this Year
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="mini-stat clearfix">
				<span class="mini-stat-icon tar"><i class="fa fa-tag"></i></span>
				<div class="mini-stat-info">
					<span>{{stats.sold | number }}</span> Products Sold Today
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="mini-stat clearfix">
				<span class="mini-stat-icon pink"><i class="fa fa-money"></i></span>
				<div class="mini-stat-info">
					<span>{{stats.profit | number : '1.2-2'}}</span> RS Profit Today
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="mini-stat clearfix">
				<span class="mini-stat-icon green"><i class="fa fa-eye"></i></span>
				<div class="mini-stat-info">
					<span>{{stats.customers | number  }}</span> Customers
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<section class="panel">
				<div class="panel-body">
					<div class="top-stats-panel">
						<h4 class="widget-h">Sales Summary</h4>
						<app-loading *ngIf="ordersLoading"></app-loading>
						<div *ngIf="!ordersLoading" class="bar-stats" style="display:block;height:auto">

							<canvas baseChart width="400" height="250" [datasets]="ordersData" [labels]="ordersDataLabel" [options]="lineChartOptions"
								[colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
								(chartClick)="chartClicked($event)"></canvas>

							<div class="daily-sales-info">
								<span class="sales-count"> {{ordersTotal | number}} Orders</span> <br><span class="sales-label">For the past 6 months.</span>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<div class="col-md-6">
			<section class="panel">
				<div class="panel-body">
					<div class="top-stats-panel">
						<h4 class="widget-h">Income Summary</h4>
						<app-loading *ngIf="salesLoading"></app-loading>
						<div *ngIf="!salesLoading" class="bar-stats" style="display:block;height:auto">

							<canvas baseChart width="400" height="250" [datasets]="salesData" [labels]="salesDataLabel" [options]="lineChartOptions"
								[colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
								(chartClick)="chartClicked($event)"></canvas>

							<div class="daily-sales-info">
								<span class="sales-count">RS. {{salesTotal | number : '1.2-2' }}</span><br> <span class="sales-label">Income Generated Past six months.</span>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>


	</div>
</div>