<div class="row">
	<div class="col-sm-12">

		<ul class="breadcrumbs-alt">
			<li><a class="text-uppercase"> Brands</a></li>
			<li class="text-uppercase"><a class="current"> All</a></li>

		</ul>

	</div>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<section class="panel animated bounceInUp">
			<div class="panel-body">


				<form #createForm="ngForm" (ngSubmit)="createBrand(createForm.value)">
					<table class="table table-hover table-condensed table-striped table general-table" style="align-items: center">
						<thead>
							<tr>

								<td>Brand Name</td>
								<td style="width:18rem;text-align:right">Actions</td>
							</tr>
						</thead>

						<tbody style="margin-top:5rem">

							<tr>




								<td colspan="1">
									<input name="createBrandName" placeholder="Enter Brand Name" id="createBrandName" class="form-control input-sm " required
										[(ngModel)] = "newBrand">
								</td>
								<td style="text-align:right">
									<button type="submit" class="btn btn-xs btn-primary "><i class="glyphicon glyphicon-save" ></i> SAVE</button>
									<button type="reset" class="btn btn-xs btn-warning "><i class="glyphicon glyphicon-cancel"></i>   RESET</button>

								</td>



							</tr>

							<tr *ngFor="let brand of brands">

								<td colspan="1" *ngIf='brand.id != currentBrandID'> {{brand.brandname}}</td>
								<td colspan="1" *ngIf='brand.id == currentBrandID'> <input name="brandname" id="brandname" type="text" class="form-control input-sm" [(ngModel)]="currentBrandName" required></td>
								<td style="text-align:right">
									<button type="button" class="btn-info   btn btn-xs pull-right" [disabled]="brand.brandname==='N/A'" *ngIf='brand.id != currentBrandID'
										(click)="onRowClick(brand.id, brand.brandname)"><i class="glyphicon glyphicon-edit"></i> EDIT</button>
									<button type="button" class="btn-primary   btn btn-xs" *ngIf='brand.id == currentBrandID' [disabled]="!currentBrandName"
										(click)="edit()"><i class="glyphicon glyphicon-save" ></i> UPDATE</button>
									<button type="button" class="btn-warning    btn btn-xs" *ngIf='brand.id == currentBrandID' (click)="cancel()"><i class="glyphicon glyphicon-cancel"></i> CANCEL</button>
								</td>
							</tr>
						</tbody>
					</table>
				</form>

			</div>
		</section>
	</div>
</div>
