<div class="row">
	<div class="col-sm-12">

		<ul class="breadcrumbs-alt">
			<li><a class="text-uppercase"> Brands</a></li>
			<li class="text-uppercase"><a class="current"> All</a></li>

		</ul>

	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<section class="panel animated bounceInUp">
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
						<td>Brand Name</td>
						<td>Count</td>
						<td>Actions</td>
					</thead>
					<tbody>
						<tr>
							<td colspan="2"><input placeholder="Enter Brand Name" class="form-control input-sm"></td>
							<td><button class="btn-info btn btn-block btn-sm">Add</button></td>
						</tr>
					</tbody>
				</table>

			</div>
		</section>
	</div>

	<div class="col-md-6">
		<app-brand-products></app-brand-products>
	</div>
</div>