<div class="row">
	<div class="col-sm-8">

		<ul class="breadcrumbs-alt">
			<li><a class="text-uppercase"> Brands</a></li>
			<li class="text-uppercase"><a class="current"> All</a></li>

		</ul>

	</div>
	<div class="col-sm-4 ">
		<input name="searchText" type="text" placeholder="Search Brands" class="form-control input-sm" [(ngModel)]="searchTerm">
	</div>
</div>

<div class="row">


	<div class="col-md-4">
		<div class="panel">
			<div class="panel-body">
				<div class="col-md-3" style="padding-left:0cm">
					<div class="profileImage" style="">+</div>
				</div>
				<div class="col-md-9">
          <form #createForm="ngForm" (ngSubmit)="createBrand(createForm.value)">
					<input name="createBrandName" placeholder="Enter Brand Name" id="createBrandName" class="form-control input-sm " required
						[(ngModel)]="newBrand">

					<div style=" padding-top: 2rem;">

						<button type="submit" class="btn btn-xs btn-primary  pull-right "> Add New </button>
						<button type="reset" class="btn btn-xs btn-warning   pull-right" style="margin-right:1rem"><i class="fa fa-ban"></i></button>

					</div>
          </form>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4" ng-if="brand.brandname != 'N/A'" *ngFor="let brand of (brands | searchBrand : searchTerm)">
		<div class="panel">
			<div class="panel-body">
				<div class="col-md-3" style="padding-left:0cm">
					<div class="profileImage">{{brand.brandname.substring(0,2)}}</div>
				</div>
				<div class="col-md-9">
						<h5 *ngIf='brand.id != currentBrandID'>{{brand.brandname}}</h5>
						<input *ngIf='brand.id == currentBrandID' name="brandname" id="brandname" type="text" class="form-control input-sm" [(ngModel)]="currentBrandName"
							required style="margin-bottom: 2.4rem;">
						<h6 *ngIf='brand.id != currentBrandID'>{{brand.count}} Products</h6>
						<div>

							<button [disabled]="brand.count>0" class="btn btn-xs btn-danger pull-right" (click)="onDelClick(brand.id)">Delete</button>

							<button type="button" class="btn btn-xs  btn-primary  btn btn-xs pull-right" style="margin-right:1rem" [disabled]="brand.brandname==='N/A'"
								*ngIf='brand.id != currentBrandID' (click)="onRowClick(brand.id, brand.brandname)">  Edit</button>
							<button type="button" class="btn-primary   btn btn-xs" *ngIf='brand.id == currentBrandID' [disabled]="!currentBrandName || this.currentBrandName == this.originalBrandName"
								(click)="edit()"><i class="fa fa-upload" ></i> </button>
							<button type="button" class="btn-warning    btn btn-xs" *ngIf='brand.id == currentBrandID' (click)="cancel()"><i class="fa fa-ban"></i></button>

						</div>
				</div>
			</div>
		</div>
	</div>

</div>

<div bsModal #delBrandModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="delModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Delete? </h4>
      </div>

      <div class="modal-body">
        Delete Brand?
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" (click)="delBrandModal.hide()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
      </div>

    </div>
  </div>
</div>
